 * {  
  text-align: center;   
 }
 
 body {
   display: inline-flex;
   flex-direction: column;
   max-width: 1920px;
   max-height: 1080px;
   background-image: url(imgs/bguc.png);
 }

 .thumbnail {
  width: auto;
  height: auto;
  border-style: double;
  display: inline-flex;  
 }

#pixels-art {
  width: 450px;
  height: 80px;
  background-image: url(imgs/thumbnails/pixelarts.png);
}

 #tittle {
   margin: auto;
   display: inline-flex;
   align-items: center;   
 }