 * {  
  text-align: center;   
 }
 
 body {
   display: inline-flex;
   flex-direction: column;
   max-width: 1920px;
   max-height: 1080px;
   background-image: url(imgs/bguc.png);
 }

 .thumbnail, .tittle {
  width: auto;
  border-style: double;
  display: inline-flex;
 }

 #tittle {
   display: inline-block;
   align-items: center;   
 }